.about-cards-sec {
    background-image: url("~/public/images/about/parallax.webp");
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin: 0%;
    padding: 0%;
    .gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: whitesmoke;
        opacity: 0.6;
    }
    .title {
        font-size: 50px;
        text-align: center;
        font-weight: 900;
        color: $base-dark-blue;
        position: relative;
    }
    .card{
        box-shadow: rgba(215, 58, 58, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        padding: 2rem;
        h1{
            font-size: 34px;
            color: $base-red;
            font-weight: 800;
        }
        p{
            color: $base-dark-blue;
            font-size: 16px;
            line-height: 1.6em  ;
        }
    }
}
