.about-top-sec {
    margin-top: 10rem;

    .title {
        color: $base-dark-blue;
        span {
            font-size: 21px;
        }
        h1 {
            font-size: 50px;
            font-weight: 900;
            margin: 2rem 0;
        }
    }
}

.about-bottom-hero-sec {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-side {
        background-image: url("~/public/images/about/hero.webp");
        background-position: 200px -100px;
        background-repeat: no-repeat;
    }
    .right-side {
        background-color: $base-red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            color: white;
            font-size: 18px;
            margin: 1rem 0;
            line-height: 1.6em;
        }
    }
}
