.reviews-sec {
    .title {
        display: flex;
        justify-content: start;
        gap: 1rem;
        align-items: center;
        .range-box {
            background-color: white;
            height: 102px;
            width: 250px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(202, 62, 62, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            .range {
                width: 178px;
                background-color: $base-red;
                border-radius: 50px;
                .range-span {
                    height: 100%;
                    color: white;
                    display: flex;
                    padding-top: 0.9rem;
                    padding-bottom: 0;
                    justify-content: center;
                    p {
                        width: 80%;
                        border-radius: 50px;
                        text-align: center;
                        color: $base-dark-blue;
                        background-color: white;
                    }
                }
            }
        }
        h1 {
            font-size: 50px;
            font-weight: 900;
            color: $base-dark-blue;
        }
    }


    .card {
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: $base-dark-blue;
        border: 1px solid $base-dark-blue;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        p {
            font-size: 16px;
            line-height: 1.6em;
        }
        h1 {
            font-size: 21px;
            font-weight: 800;
        }
    }
}
