* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  background-color: #f6f4f0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  height: auto;
  padding: 0%;
  line-height: 2;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  transition: top 0.6s;
}
.navbar .container {
  align-items: normal;
}
.navbar .logo {
  width: auto;
  text-align: center;
  padding: 0 1rem;
  background-color: #da392b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar .logo a {
  font-size: 26px;
  font-weight: 800;
  color: white;
}
.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  margin: 0%;
  padding: 0%;
}
.navbar .nav-links li:first-of-type {
  border-bottom-left-radius: 10px;
}
.navbar .nav-links li:last-child {
  border-bottom-right-radius: 10px;
}
.navbar .nav-links .item {
  padding: 0 1rem;
  text-align: center;
}
.navbar .nav-links .item a {
  line-height: 3;
  font-size: 20px;
  color: gray;
}
.navbar .nav-links .item:hover {
  transition: 0.5s all ease;
  background-color: #da392b;
}
.navbar .nav-links .item:hover a {
  color: white;
  text-decoration: underline white 3px;
}
.navbar .mobile-menu-icon {
  border: none;
  display: none;
  padding: 0%;
  margin: 0;
}

.active-red a {
  color: #da392b !important;
}

.active-link {
  color: #da392b;
  background-color: yellow;
}

.logo-none {
  display: none;
}

.animate {
  top: -71px;
}

.sticky {
  top: 0%;
  transition: 0.3s linear;
  z-index: 10;
}

nav a.active {
  text-decoration: underline gray 3px;
}

@media only screen and (max-width: 767px) {
  .navbar {
    transition: all 0.5s ease;
  }
  .navbar .nav-links {
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .navbar .logo {
    line-height: 2.5;
  }
  .navbar .nav-links-mobile {
    position: absolute;
    display: block;
    left: 0;
    top: 10%;
    transition: all 0.5s ease;
    width: 100%;
    font-size: 50px;
    background-color: white;
    height: 100vh;
    margin: 0%;
  }
  .navbar .nav-links-mobile li a {
    color: gray;
  }
  .navbar .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20%;
    font-size: 40px;
    padding: 0.8rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
  }
}
.footer .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .title .logo {
  width: 166px;
  text-align: center;
  background-color: #da392b;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.footer .title .logo a {
  font-size: 20px;
  font-weight: 800;
  color: white;
}
.footer .title p {
  text-align: center;
  font-size: 24px;
  margin-top: 1rem;
}
.footer .hr {
  border-bottom: 2px solid black;
}
.footer .footer-card {
  display: flex;
  flex-direction: column;
}
.footer .footer-card h1 {
  font-size: 21px;
  color: #272443;
  text-align: left;
  margin-bottom: 1rem;
}
.footer .footer-card .footer-menu {
  margin: 0%;
  padding: 0%;
}
.footer .footer-card .footer-menu li {
  line-height: 2;
}
.footer .footer-card .footer-menu li a {
  color: gray;
}
.footer .footer-card .imgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
}
.footer .footer-card .imgs img {
  width: auto;
  height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}
.footer .text {
  color: gray;
  text-align: center;
}
.footer .text p a {
  color: gray;
  text-decoration: underline;
}

.header {
  width: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.header .hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header .content {
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0%;
  color: #272443;
}
.header .content .header-title {
  font-size: 80px;
  font-weight: 900;
  margin-top: 8rem;
}
.header .content p {
  font-size: 24px;
  font-weight: 300;
}
.header .content .img {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}
.header .content .img img {
  height: auto;
  width: a;
}

.header-card {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 30rem;
  bottom: 0;
}
.header-card .card {
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
  border: none;
}
.header-card .card .gradient {
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 11;
  background-image: linear-gradient(to top, #bd3426, rgb(69, 69, 41));
  opacity: 0.5;
  display: none;
}
.header-card .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  transition: 0.3s;
  border: none;
  display: block;
}
.header-card .card:hover img {
  transform: scale(1.1);
  transition: all 0.25s ease-in;
}
.header-card .card:hover .card-footer {
  transition: all 0.5s ease-in-out;
  display: none;
}
.header-card .card:hover .gradient {
  transition: all 0.5s ease-in-out;
  display: block;
}
.header-card .card .card-footer {
  position: absolute;
  bottom: 0%;
  color: white;
  padding: 1rem;
  transition: all 0.5s;
}
.header-card .card .card-footer h2 {
  font-size: 18px;
  font-weight: 900;
}
.header-card .card .card-footer p {
  font-size: 16px;
  font-weight: 400;
}
.header-card .custom-card {
  display: block;
  background-color: yellow;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  transition: all 0.5s ease-out;
  position: relative;
}
.header-card .custom-card:hover {
  background-image: linear-gradient(to top, #bd3426, yellow);
}
.header-card .custom-card:hover .card-footer {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.header-card .custom-card .card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}
.header-card .custom-card .card-footer h2 {
  color: black;
  text-align: center;
  font-weight: 600;
}
.header-card .custom-card .card-footer p {
  color: black;
  font-size: 30px;
}

@media (max-width: 1290px) {
  .header .header-card {
    margin-top: auto;
  }
}
.home-about-sec {
  margin-top: 20rem;
}
.home-about-sec .title-content {
  color: #272443;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-about-sec .title-content h2 {
  text-align: center;
  font-size: 21px;
}
.home-about-sec .title-content h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.home-about-sec .title-content p {
  margin-top: 1.5rem;
  text-align: center;
}
.home-about-sec .title-content .learn-more {
  width: 142px;
  transition: all 0.5s ease;
  height: 60px;
  background-color: #da392b;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  cursor: pointer;
  border: 1px solid #da392b;
}
.home-about-sec .title-content .learn-more:hover {
  background-color: transparent;
  border: 1px solid #272443;
}
.home-about-sec .title-content .learn-more:hover a {
  color: #272443;
}
.home-about-sec .title-content .learn-more a {
  color: white;
  white-space: nowrap;
}
.home-about-sec .title-content .imgs {
  position: relative;
}
.home-about-sec .title-content .imgs .gradient {
  width: 698px;
  height: 396px;
  background-color: red;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.home-about-sec .title-content .imgs .gradient:hover {
  transition: all 0.5s ease;
  opacity: 0.2;
}
.home-about-sec .title-content .imgs .main-img {
  width: 698px;
  height: 396px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}
.home-about-sec .title-content .imgs .goat {
  position: absolute;
  z-index: 1;
  width: 229px;
  height: 246px;
  object-fit: cover;
  object-position: 50% 50%;
  bottom: -50px;
  left: -80px;
}

.our-games-sec {
  margin-top: 9rem;
}
.our-games-sec .title {
  color: #272443;
}
.our-games-sec .title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.our-games-sec .title p {
  margin-top: 1.5rem;
  text-align: center;
}

.our-games-sec .cards {
  position: relative;
  width: 100%;
  background-image: url("~/public/images/home/p_main.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9012;
  transform: translate3d(0px, 0px, 0px);
  visibility: inherit;
  width: auto;
  height: 1181.2px;
  left: 0px;
  top: 0px;
}
.our-games-sec .cards .card {
  padding: 2rem;
  width: 390px;
  position: absolute;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
.our-games-sec .cards .card .card-header {
  border: none;
  background-color: white;
  display: flex;
  gap: 1rem;
}
.our-games-sec .cards .card .card-header .img {
  border: 5px solid #272443;
  width: 78px;
  height: 78px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.our-games-sec .cards .card .card-header .names a {
  color: #272443;
  font-size: 21px;
  font-weight: 800;
}
.our-games-sec .cards .card .card-header .names p {
  line-height: 1.6em;
  font-size: 16px;
}
.our-games-sec .cards .card .card-content {
  width: 100%;
  margin: 0.5rem;
}
.our-games-sec .cards .card .card-content .desc p {
  line-height: 1.6em;
  color: #272443;
  font-size: 16px;
}
.our-games-sec .cards .card .card-content .imgs {
  display: flex;
  justify-content: space-between;
}
.our-games-sec .cards .card .card-content .imgs img {
  width: 120px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}
.our-games-sec .cards .card-11 {
  top: 0%;
  left: 0%;
}
.our-games-sec .cards .card-22 {
  top: 0%;
  right: 0%;
}
.our-games-sec .cards .card-33 {
  top: 800px;
}
.our-games-sec .cards .img-card {
  position: absolute;
  top: 800px;
  right: 0%;
  display: block;
}
.our-games-sec .cards .img-card img {
  width: 274px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.parralex-sec {
  position: relative;
  margin-top: 10rem;
}
.parralex-sec .top-parallax {
  background-image: url("~/public/images/home/dragon.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.parralex-sec .top-parallax .title {
  color: white;
  margin-top: 8rem;
}
.parralex-sec .top-parallax .title span {
  font-size: 21px;
}
.parralex-sec .top-parallax .title h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.5;
  margin: 1.5rem 0 3rem 0;
}
.parralex-sec .top-parallax .title a {
  width: 150px;
  height: 60px;
  background-color: #fcff72;
  color: #272443;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 1rem;
}
.parralex-sec .bottom-parallax {
  background-image: url("~/public/images/home/stars.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.parralex-sec .bottom-parallax .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.2;
}
.parralex-sec .bottom-parallax .left-side {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  bottom: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.parralex-sec .bottom-parallax .left-side .title h1 {
  font-size: 34px;
  color: #272443;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.parralex-sec .bottom-parallax .left-side .title p {
  color: #272443;
  line-height: 1.6em;
  font-size: 18px;
}
.parralex-sec .bottom-parallax .left-side form input {
  padding: 1rem;
}
.parralex-sec .bottom-parallax .left-side form label {
  color: #272443;
  font-weight: 100;
  margin-bottom: 1rem;
}
.parralex-sec .bottom-parallax .left-side form .names {
  display: flex;
  justify-content: space-between;
}
.parralex-sec .bottom-parallax .left-side form .names .frm {
  display: flex;
  flex-direction: column;
}
.parralex-sec .bottom-parallax .left-side form .names input {
  width: 165px;
  height: 60px;
  border: 1px solid #272443;
  border-radius: 10px;
}
.parralex-sec .bottom-parallax .left-side form .names input:hover {
  border: 2px solid black;
}
.parralex-sec .bottom-parallax .left-side form .email {
  display: flex;
  flex-direction: column;
}
.parralex-sec .bottom-parallax .left-side form .email input {
  width: 350px;
  height: 60px;
  border: 1px solid #272443;
  border-radius: 10px;
}
.parralex-sec .bottom-parallax .left-side form .email input:hover {
  border: 2px solid black;
}
.parralex-sec .bottom-parallax .left-side form .msj {
  display: flex;
  flex-direction: column;
}
.parralex-sec .bottom-parallax .left-side form .msj textarea {
  width: 350px;
  height: 60px;
  resize: none;
  padding: 1rem;
  border: 1px solid #272443;
  border-radius: 10px;
}
.parralex-sec .bottom-parallax .left-side form .msj textarea:hover {
  border: 2px solid black;
}
.parralex-sec .bottom-parallax .left-side form .btn {
  height: 60px;
  width: 350px;
  background-color: #272443;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
}
.parralex-sec .bottom-parallax .left-side form .btn:hover {
  transition: 0.5s all ease;
  background-color: #da392b;
}
.parralex-sec .bottom-parallax .right-side {
  display: flex;
  justify-content: center;
  position: relative;
}
.parralex-sec .bottom-parallax .right-side img {
  width: 488px;
  height: 414px;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  object-position: 50% 50%;
  position: absolute;
}
.parralex-sec .bottom-parallax .right-side .send-email {
  position: absolute;
  width: 388px;
  height: 210px;
  background-color: #da392b;
  border-radius: 10px;
  padding: 2rem;
  top: 200px;
}
.parralex-sec .bottom-parallax .right-side .send-email h1 {
  font-size: 21px;
  margin-bottom: 1rem;
  color: white;
}
.parralex-sec .bottom-parallax .right-side .send-email form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.parralex-sec .bottom-parallax .right-side .send-email form button {
  width: 79px;
  height: 60px;
  background-color: #FCFF72;
  border-radius: 10px;
  margin-top: 2.5rem;
}
.parralex-sec .bottom-parallax .right-side .send-email form button:hover {
  background-color: white;
  transition: 0.5s all ease;
}
.parralex-sec .bottom-parallax .right-side .send-email form .email {
  display: flex;
  flex-direction: column;
}
.parralex-sec .bottom-parallax .right-side .send-email form .email input {
  padding: 1rem;
}
.parralex-sec .bottom-parallax .right-side .send-email form .email label {
  color: white;
  font-weight: 100;
  margin-bottom: 1rem;
}
.parralex-sec .bottom-parallax .right-side .send-email form input {
  width: 238px;
  height: 60px;
  border: 1px solid #272443;
  border-radius: 10px;
}
.parralex-sec .bottom-parallax .right-side .send-email form input:hover {
  border: 2px solid black;
}

main {
  width: 100%;
  overflow: hidden;
  font-family: "Expletus Sans", cursive;
}

.hero {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.hero h1 {
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  font-weight: 900;
  right: 0;
  color: #272443;
  bottom: 0;
  z-index: 1;
}

.hero p {
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #272443;
  z-index: 1;
}

.hero {
  width: 100%;
  background-image: url("~/public/images/home/hero_image.webp");
  height: 90vh;
  background-position: 0px -100px;
}

.bar {
  width: 100%;
  height: 200px;
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: roll-out 1.2s ease-out;
  -moz-animation: roll-out 1.2s ease-out;
  animation: roll-out 1.2s ease-out;
}

.hero h1,
.hero p {
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s ease-out;
  animation: scale-in 1.3s ease-out;
}

.imgs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.imgs img {
  width: auto;
  height: auto;
}

@media all and (max-width: 768px) {
  .hero {
    height: 50vw;
  }
  .bar {
    height: 26vw;
    top: 10vw;
  }
  .hero h1 {
    font-size: 8vw;
    top: 13vw;
  }
  .hero p {
    font-size: 3vw;
    top: 27vw;
  }
}
.hiring-sec {
  color: #272443;
  margin: 10rem 0;
}
.hiring-sec p {
  font-weight: 600;
  font-size: 21px;
}
.hiring-sec h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 2rem 0;
}
.hiring-sec .p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.job-cards-sec .container {
  background-color: #da392b;
  padding: 0 5rem;
}
.job-cards-sec h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 5rem 0;
  font-weight: 900;
}
.job-cards-sec .card {
  background-color: transparent;
  border: none;
  overflow: hidden;
}
.job-cards-sec .card:hover .card-img-top {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}
.job-cards-sec .card .card-img-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.job-cards-sec .card .card-body .card-title {
  color: white;
  font-weight: 800;
}
.job-cards-sec .card .card-body .card-text {
  color: white;
  line-height: 1.5;
}
.job-cards-sec .card .card-body .btn {
  background-color: #2c3051;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 10px;
}
.job-cards-sec .card .card-body .btn:hover {
  background-color: #113e5f;
}

.parallax-job-sec .container {
  background-image: url("~/public/images/home/stars.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}
.parallax-job-sec .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: black;
  opacity: 0.3;
}
.parallax-job-sec .title {
  color: white;
  height: 100%;
  position: absolute;
  width: 100%;
  margin: 10rem 0 0 4rem;
}
.parallax-job-sec .title p {
  font-size: 17px;
  font-weight: 700;
}
.parallax-job-sec .title h1 {
  font-size: 50px;
  font-weight: 900;
}
.parallax-job-sec .title .btn {
  background-color: #fcff72;
  color: #272443;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
}
.parallax-job-sec .title .btn:hover {
  transition: 0.5s all ease-in-out;
  background-color: white;
}

.games-parallax-sec {
  background-image: url("~/public/images/games/hero.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  margin-top: 15rem;
}
.games-parallax-sec .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: black;
  opacity: 0.3;
}
.games-parallax-sec .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  bottom: 10rem;
  padding: 2rem;
}
.games-parallax-sec .card .card-header {
  background-color: white;
  border: none;
  display: flex;
  gap: 1rem;
}
.games-parallax-sec .card .card-header img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid #272443;
}
.games-parallax-sec .card .card-header h1 {
  font-weight: 800;
  font-size: 21px;
  color: #272443;
}
.games-parallax-sec .card .card-header p {
  color: #272443;
}
.games-parallax-sec .card .card-body p {
  font-size: 50px;
  color: #272443;
  font-weight: 900;
}
.games-parallax-sec .card p {
  line-height: 1.6em;
  font-size: 18px;
}

.screenshots-sec .title {
  font-size: 34px;
  font-weight: 800;
  color: #272443;
}
.screenshots-sec .img {
  width: 100%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.screenshots-sec .img img {
  border-radius: 10px;
  object-fit: cover;
}
.screenshots-sec .img img:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

.reviews-sec .title {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}
.reviews-sec .title .range-box {
  background-color: white;
  height: 102px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(202, 62, 62, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.reviews-sec .title .range-box .range {
  width: 178px;
  background-color: #da392b;
  border-radius: 50px;
}
.reviews-sec .title .range-box .range .range-span {
  height: 100%;
  color: white;
  display: flex;
  padding-top: 0.9rem;
  padding-bottom: 0;
  justify-content: center;
}
.reviews-sec .title .range-box .range .range-span p {
  width: 80%;
  border-radius: 50px;
  text-align: center;
  color: #272443;
  background-color: white;
}
.reviews-sec .title h1 {
  font-size: 50px;
  font-weight: 900;
  color: #272443;
}
.reviews-sec .card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #272443;
  border: 1px solid #272443;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.reviews-sec .card p {
  font-size: 16px;
  line-height: 1.6em;
}
.reviews-sec .card h1 {
  font-size: 21px;
  font-weight: 800;
}

.games-parallax-sec-second {
  background-image: url("~/public/images/games/parallax.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  margin-top: 15rem;
}
.games-parallax-sec-second .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: #c46454;
  opacity: 0.7;
}
.games-parallax-sec-second .title {
  position: absolute;
  top: 25%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  color: white;
}
.games-parallax-sec-second .title h1 {
  font-size: 50px;
  margin: 1rem 0;
  font-weight: 900;
}
.games-parallax-sec-second .title p {
  font-size: 18px;
  line-height: 1.6em;
}

.play-now-card {
  width: 100%;
}
.play-now-card .row {
  display: flex;
  justify-content: center;
}
.play-now-card .card {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 3rem;
  border: 0ch;
  box-shadow: rgba(194, 45, 45, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.play-now-card .card h1 {
  font-size: 50px;
  color: #272443;
  text-align: center;
  font-weight: 900;
}

.about-top-sec {
  margin-top: 10rem;
}
.about-top-sec .title {
  color: #272443;
}
.about-top-sec .title span {
  font-size: 21px;
}
.about-top-sec .title h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 2rem 0;
}

.about-bottom-hero-sec {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-bottom-hero-sec .left-side {
  background-image: url("~/public/images/about/hero.webp");
  background-position: 200px -100px;
  background-repeat: no-repeat;
}
.about-bottom-hero-sec .right-side {
  background-color: #da392b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-bottom-hero-sec .right-side p {
  color: white;
  font-size: 18px;
  margin: 1rem 0;
  line-height: 1.6em;
}

.about-cards-sec {
  background-image: url("~/public/images/about/parallax.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin: 0%;
  padding: 0%;
}
.about-cards-sec .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: whitesmoke;
  opacity: 0.6;
}
.about-cards-sec .title {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  color: #272443;
  position: relative;
}
.about-cards-sec .card {
  box-shadow: rgba(215, 58, 58, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 2rem;
}
.about-cards-sec .card h1 {
  font-size: 34px;
  color: #da392b;
  font-weight: 800;
}
.about-cards-sec .card p {
  color: #272443;
  font-size: 16px;
  line-height: 1.6em;
}

.team-sec .container {
  background-color: #272443;
}
.team-sec .title {
  font-size: 50px;
  font-weight: 900;
  color: white;
  text-align: center;
  margin: 6rem 0;
}
.team-sec .card {
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  color: white;
  overflow: hidden;
}
.team-sec .card .gradient {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0%;
  right: 0%;
  border-radius: 10px;
  background-color: rgb(212, 104, 104);
  opacity: 0.3;
  visibility: hidden;
}
.team-sec .card:hover {
  transition: 0.5s all ease;
}
.team-sec .card:hover .gradient {
  visibility: visible;
}
.team-sec .card:hover img {
  border-radius: 10px;
  transform: scale(1.1);
}
.team-sec .card h1 {
  font-size: 21px;
  font-weight: 800;
  margin-top: 1rem;
  position: relative;
}
.team-sec .card p {
  position: relative;
}
.team-sec .card img {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  object-fit: cover;
  height: 322.66px;
}

.our-offices-sec {
  background-image: url("~/public/images/about/company.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  margin-top: 7rem;
}
.our-offices-sec .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: #da392b;
  opacity: 0.6;
}
.our-offices-sec .left {
  position: relative;
  color: white;
  top: 10rem;
}
.our-offices-sec .left h3 {
  font-size: 21px;
  font-weight: 800;
}
.our-offices-sec .left h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 1rem 0;
}
.our-offices-sec .left p {
  font-size: 18px;
  line-height: 1.6em;
}
.our-offices-sec .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  padding-top: 8rem;
  position: relative;
}
.our-offices-sec .card .card-header {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -3rem;
}
.our-offices-sec .card .card-header img {
  width: 252px;
  height: 159px;
  object-fit: cover;
  object-position: 50% 50%;
}
.our-offices-sec .card .card-context {
  color: #272443;
}
.our-offices-sec .card .card-context h2 {
  font-size: 21px;
  margin: 1rem 0;
}
.our-offices-sec .card .card-context p {
  font-size: 16px;
  line-height: 1.6em;
}
.our-offices-sec .card .card-footer {
  border: none;
  background-color: #272443;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.our-offices-sec .card .card-footer:hover {
  background-color: #da392b;
}
.our-offices-sec .card .card-footer a {
  color: white;
}